/*
    Desenvolvido por TI Serveloja, dezembro de 2017
*/

.tituloInput {
    font-weight: bold;
    font-size: 0.80rem;
    margin: 20px 0px 0px 0px;
    color: #666;
}

.input {
    padding: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #999 !important;
    background-color: #f6f6f6 !important;
    width: 60%;
    -moz-box-shadow: inset 2px 2px 4px #ccc;
    -webkit-box-shadow: inset 2px 2px 4px #ccc;
    box-shadow: inset 2px 2px 4px #ccc;
}

.textarea {
    padding: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #f6f6f6;
    width: 50%;
    height: 70px;
    -moz-box-shadow: inset 2px 2px 4px #ccc;
    -webkit-box-shadow: inset 2px 2px 4px #ccc;
    box-shadow: inset 2px 2px 4px #ccc;
    resize: none;
}

.select {
    padding: 6px 7px 6px 7px !important;
    font-size: .875rem;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #f6f6f6;
    -moz-box-shadow: inset 2px 2px 4px #eee;
    -webkit-box-shadow: inset 2px 2px 4px #eee;
    box-shadow: inset 2px 2px 4px #eee;
    width: 60%;
    height: 35px !important;
    margin-top: 10px;
    margin-bottom: 0px;
}

input[type="submit"] {
    padding: 7px;
    width: 120px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    background-color: #e6e6e6;
    border: 1px solid #999;
    box-shadow: none;
    border-radius: 3px;
	  float: left;
    margin-top: 25px;
}

button[type='reset'] {
    padding: 7px 7px 8px 7px;
    width: 120px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #224527;
    box-shadow: none;
    border-radius: 3px;
    border: none;
	  float: left;
    margin: -2px 0px 0px 15px;
}

input[type='radio'] {
    -webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-appearance: none;
    -webkit-margin-start: 0;
    -webkit-margin-end: 3px;
    -webkit-transition: border 500ms;
    background: -webkit-linear-gradient(#fafafa, #dcdcdc);
    border-radius: 100%;
    border: 1px solid #999;
    display: inline-block;
    height: 15px;
    margin-bottom: 0;
    position: relative;
    top: 2px;
    vertical-align: baseline;
    width: 15px;
}

input[type='radio']:disabled {
    opacity: .75;
}

input[type='radio']:not(:disabled):not(:active):hover {
    background: -webkit-linear-gradient(#fff, #e6e6e6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='radio']:not(:disabled):active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    background: -webkit-linear-gradient(#f0f0f0, #bebebe);
    border: 1px solid #808080;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='radio']:checked::before {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-margin-start: 4px;
    background: #808080;
    border-radius: 10px;
    content: '';
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    height: 5px;
    left: 0;
    margin-top: 4px;
    opacity: 1;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 5px;
}

html[dir='rtl'] input[type='radio']:checked::before {
    right: 0;
}

input[type='radio']:active:checked::before {
    background: #606060;
}

input[type='file'] {
    margin-bottom: 10px;
}

.alerta {
    padding: 10px;
    background-color: #FFFFBF;
    border: 1px solid #c6b149;
    position: relative;
    border-radius: 3px;
    color: #c6b149;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    width: 95.5%;
}

.sucesso {
    padding: 10px;
    background-color: #c1d8aa;
    border: 1px solid #017804;
    position: relative;
    border-radius: 3px;
    color: #017804;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    width: 95.5%;
}

.erro {
    padding: 10px;
    background-color: #FFC2B7;
    border: 1px solid #f00;
    position: relative;
    border-radius: 3px;
    color: #f00;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    width: 95.5%;
}

.checkbox {
    float: left;
    width: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 5px 10px 5px 0px;
}
